*{
    text-align: center;
}
.home{
    background-image:url("../images/backgrounds/h_img.jpg");
    color: aliceblue;
}
.services{
    background-image: url("../images/backgrounds/s_image.jpg");
}
.contact{
    background-image: url("../images/backgrounds/c_image.jpg");
}

